body {
	width: 100%;
	overflow-x: hidden;
}

body, h1, body, div, a, ol, ul, li, h2, p, em, img, button {
	padding: 0;
	margin: 0;
	outline: 0;
	font-family: 'Questrial', sans-serif;
	word-wrap: break-word;
}

h1 {
	letter-spacing: 1px;
}


#navbar {
	background-color: #232323;
	position: fixed;
	z-index: 90;
	width: 100%;
	display: block;
	margin: 0;
	text-align: center;
	padding: 42px 0px;
	transition-duration: 0.2s;
	opacity: 0.98;
}

#dots {
	background-color: transparent;
	padding: 0;
	border: 0px;
	position: fixed;
	top: 15px;
	right: 15px;
}

#dots img {
	opacity: 1;
	width: 50px;
	transition-duration: 0.2s;
	padding: 4px;
}

#dots img:hover {
	border-radius: 100%;
	border: 1px solid #00b3c6;
	transform: rotate(360deg) scale(1.03);
}

#mainnav {
	display: none;
	padding-top: 60px;
}

#mainnav li {
	display: block;
	text-align: center;
	padding: 10px 40px;
	color: #eee;
	font-size: 23px;
	transition-duration: 0.2s;
}

#mainnav li:hover {
	color: #00b3c6;
}

#mainnav #placeholder {
	padding: 10px 70px;
}

#mainnav .active {
	text-decoration: underline;
}

.deltalogo {
	position: fixed;
	z-index: 99;
	top: 4px;
	left: 5px;
	transition-duration: 0.2s;
}

.middle {
	left: 50%;
	margin-left: -40px;
}

.deltalogo img {
	width: 80px;
}

.deltalogo:hover {
	cursor: pointer;
	transform: scale(1.05);
}

.drop {
	display: none;
}

#indexhead {
	background: url('images/titleimg.jpg');
	background-size: 100%;
	padding: 370px 0px;
	position: absolute;
	z-index: 2;
	width: 100%;
	top: 0;
}

#titlesec {
	padding: 280px 0px;
	z-index: 5;
	position: relative;
	text-align: center;
}

#titlesec h1 {
	font-size: 80px;
	color: white;
	font-family: 'Work Sans';
}

#titlesec h3 {
	font-size: 50px;
	color: white;
}

#showmore .fas {
	color: #555;
	font-size: 40px;
	position: absolute;
	bottom: -20px;
	margin-left: -60px;
	left: 50%;
	z-index: 2;
	padding: 30px 40px;
	background-color: white;
	border-radius: 50% 50% 0px 0px;
	transition-duration: 0.2s;
}

#showmore .fas:hover {
	bottom: -30px;
	cursor: pointer;
	color: #00b3c6;
}

#borderbot {
	position: absolute;
	left: 0;
	top: 30px;
	height: 60px;
	background-color: #444;
	width: 10px;
}

#intro {
	width: 100%;
	margin: 0;
	padding: 100px 0% 0px 0%;
	background-color: white;
	position: relative;
	z-index: 6;
}

#greybackground {
	position: absolute;
	background-color: #ddd;
	height: 100%;
	bottom: 10%;
	width: 40%;
}

#intro h1 {
	color: #222;
	margin-left: 13%;
	font-size: 50px;
	padding: 30px 0px 10px 0px;
}

#intro ul {
	margin-left: 16%;
	padding-bottom: 40px;
}

#intro #borderbot {
	margin-left: 1.7%;
}

#intro a, #fullteam {
	margin-left: 13%;
	font-size: 24px;
	padding: 15px 35px;
	color: #222;
	border: 2px solid #222;
	transition-duration: 0.2s;
	border-radius: 30px;
}

#fullteam {
	color: white;
	border: 2px solid white;
	margin: 20px auto;
	display: block;
	width: 30%;
	text-align: center;
}

#fullteam:hover {
	background-color: #00b3c6;
	text-decoration: none;
	color: white;
	border: 2px solid #00b3c6;
}

#intro a:hover {
	background-color: #00b3c6;
	text-decoration: none;
	color: white;
	border: 2px solid #00b3c6;
}

#intro li {
	margin: 10px 0px;
	font-size: 24px;
	position: relative;
	z-index: 5;
	color: #555;
	list-style-type: square;
}

#computer {
	width: 100%;
	position: relative;
	z-index: 0;
	margin-left: 0%;
}

.row2 {
	position: relative;
}

#upcoming {
	background: #eee;
	padding: 70px 7% 0px 7%;
	position: relative;
}

#upcoming h1 {
	color: #222;
	font-size: 50px;
	padding: 10px 0px;
}

#dottedline {
	width: 100%;
	position: absolute;
	top: 30%;
	border-top: 3px dotted #555;
}

#seeall {
	float: right;
	margin-top: -60px;
	font-size: 30px;
	color: #00b3c6;
	transition-duration: 0.2s;
}

#seeall:hover {
	text-decoration: none;
	color: #b0e2eb;
}

#upcoming #borderbot {
	background-color: #222;
	transition-duration: 0.2s;
	top: 70px;
}

.event {
	margin: 20px 3%;
	float: left;
	padding: 0px;
	background-color: white;
	box-shadow: 5px 5px 20px #444;
	transition-duration: 0.3s;
}

.event:hover {
	cursor: pointer;
}

#eventA, #eventB {
	transition-duration: 0.3s;
	position: relative;
	z-index: 12;
}

.event:hover {
	opacity: 0.9;
}

#eventA {
	width: 50%;
}

#eventB {
	width: 30%;
}

#eventB .eventtitle {
	font-size: 25px;
}

.eventbody {
	padding: 10px 8% 50px 8%;
}

.eventdate {
	color: #777;
	font-size: 26px;
}

.eventtitle {
	color: #333;
	font-size: 35px;
	padding: 10px 0px;
}

.event #borderbot {
	background-color: #333;
	width: 30%;
}

.event img {
	width: 100%;
}

.eventbody p {
	font-size: 19px;
	padding: 10px 0px 30px 0px;
	color: #555;
}

.signup {
	padding: 10px 20px;
	color: #444;
	font-size: 22px;
	border: 2px solid #444;
	border-radius: 30px;
	transition-duration: 0.2s;
}

.signup:hover {
	background-color: #00b3c6;
	color: white;
	text-decoration: none;
	border: 2px solid #00b3c6;
}

#faq {
	padding: 250px 0px 100px 8%;
	margin-top: -200px;
	background-color: white;
	color: #232323;
	position: relative;
	z-index: 8;
}

#faq #borderbot {
	top: 250px;
}

#faq h1 {
	color: #232323;
	font-size: 50px;
	padding: 10px 0px;
}

#faqsection {
	width: 70%;
	margin-left: 30%;
	background-color: #ddd;
	padding: 220px 5% 40px 5%;
	margin-top: -200px;
}

.faqsec {
	padding: 10px 0px;
	margin-left: -50%;
}

.question {
	font-size: 24px;
	padding: 10px 0px;
	color: #232323;
	transition-duration: 0.2s;
}

.answer {
	font-size: 22px;
	color: #777;
	padding-left: 45px;
	display: none;
}

.question:hover {
	color: #00b3c6;
	cursor: pointer;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

#contact {
	padding: 50px 8% 30px 8%;
	background-color: #333;
}

#contact h1 {
	color: #eee;
	font-size: 46px;
	padding: 20px 0px;
}

#contact p {
	color: #eee;
	font-size: 20px;
	padding: 0px;
}

#contact p a {
	color: #00b3c6;
}

#contact .fab {
	font-size: 45px;
	color: #eee;
	margin: 20px 20px;
	transition-duration: 0.2s;
}

#contact .fab:hover {
	text-decoration: none;
	color: #00b3c6;
}

#footer {
	text-align: center;
	background-color: #232323;
	padding: 10px 0px;
}

#footer p {
	color: #eee;
	font-size: 20px;
}

/*events*/
#eventshead {
	padding: 200px 8%;
	background: url('images/eventhead.jpg');
	background-size: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

#eventmask {
	position: absolute;
	z-index: 10;
	width: 100%;
	background: #212868;
	opacity: 0.8;
	top: 0;
	height: 370px;
}

#eventtitle {
	position: absolute;
	top: 150px;
	margin: 0 auto;
	left: 10%;
	right: 0;
	z-index: 13;
}

#eventtitle h1 {
	color: #eee;
	font-size: 65px;
	font-family: 'Work Sans';
}

#eventtitle h3 {
	font-size: 30px;
	color: #eee;
}

#timeline {
	width: 5px;
	height: 120px;
	position: absolute;
	left: 8%;
	border-radius: 10px;
	top: 80px;
	z-index: 40;
	background-color: #444;
}

#circle {
	padding: 10px;
	background-color: #00b3c6;
	border: 3px solid #444;
	position: absolute;
	left: 7.3%;
	border-radius: 100%;
	top: 180px;
	z-index: 50;
}

#eventbody {
	padding: 70px 5% 100px 5%;
	background-color: #eee;
	position: relative;
	top: 370px;
}

.eventevent {
	width: 87%;
	margin: 0px 0px 30px 13%;
	padding: 0px;
	position: relative;
	background-color: white;
}

.eventcircle {
	padding: 7px;
	background-color: gold;
	border: 2px solid #444;
	position: absolute;
	left: -11.7%;
	border-radius: 100%;
	top: 110px;
	z-index: 45;
	transform: scale(0);
	transition-duration: 0.2s;
}

.eventevent .imagecol {
	padding: 0px;
	position: relative;
	z-index: 2;
	height: 100%;
}

.eventevent .eventbody {
	padding: 20px 4%;
	position: relative;
	z-index: 5;
	height: 100%;
}

.eventevent .eventdate {
	font-size: 22px;
}

.eventevent .eventtitle {
	font-size: 26px;
}

.eventevent img {
	width: 100%;
	overflow-x: hidden;
}

/*About*/
#abouthead {
	padding: 120px 10% 80px 10%;
	background-color: #222;
	background-size: 140%;
	background-attachment: fixed;
}

#abouthead h1 {
	font-size: 65px;
	color: #eee;
	font-family: 'Work Sans';
}

#aboutsec1 {
	padding: 70px 0px 80px 5%;
	background-color: white;
	position: relative;
}

#greybackground2 {
	position: absolute;
	background-color: #ddd;
	height: 110%;
	top: 60px;
	left: 0;
	width: 60%;
}

#aboutsec1 h2 {
	color: #444;
	text-align: left;
	font-size: 40px;
	padding: 30px 0px;
}

#aboutsec1 #borderbot {
	background-color: #222;
	top: 90px;
}

#aboutcarousel {
	margin-top: 30px;
	width: 100%;
}

#aboutcarousel img {
	width: 100%;
}

#aboutsec1 p {
	font-size: 20px;
	color: #666;
	padding-bottom: 10px;
}

#aboutsec1 p a {
	color: #00b3c6;
}

#aboutsec1 li {
	font-size: 20px;
	color: #666;
	padding: 2px 0px;
	margin-left: 4%;
	list-style-type: square;
}

#mission {
	padding: 0px 7% 90px 25%;
	position: relative;
	margin-top: -30px;
	z-index: 5;
}

#mission h2 {
	font-size: 40px;
	padding: 20px 0px;
}

#mission p {
	font-size: 22px;
	color: #555;
}

#founders {
	padding: 80px 10%;
	background-color: #333;
}

#founders h1 {
	color: #eee;
	font-size: 50px;
	padding: 15px 0px;
	text-align: center;
}

#founders p {
	font-size: 22px;
	color: #eee;
}

#founders .col-sm-6 {
	padding: 40px 5%;
	text-align: center;
}

#founders img {
	width: 88%;
	margin: 20px auto;
	border: 5px solid transparent;
	transition-duration: 0.2s;
}

#founders img:hover {
	border: 5px solid #00b3c6;
	cursor: pointer;
	transform: scale(1.03);
}

#founders .col-sm-6 h2 {
	font-size: 38px;
}

#linkedin {
	color: #232323;
	transition-duration: 0.2s;
}

#linkedin:hover {
	text-decoration: none;
	color: #00b3c6;
}

#tomhid, #gauthamhid {
	display: none;
}

.founderbox {
	background-color: #eee;
	padding: 60px 30px 30px 30px;
	margin-top: -60px;
}

#founders ul {
	color: #232323;
	padding: 10px 0px;
	text-align: left;
}

#founders li {
	font-size: 20px;
	padding: 10px 0px;
	margin-left: 10%;
	list-style-type: square;
}

#founders #borderbot {
	background-color: #eee;
	margin: 10px auto;
	width: 8%;
}

#founders .col-sm-6 #borderbot {
	width: 25%;
	background-color: #232323;
}

/*Team*/
#teamhead {
	padding: 400px 10% 50px 6%;
	background: url('images/team.png');
	background-size: 100%;
	background-attachment: fixed;
	background-position: top;
	margin: 0;
	position: relative;
}

#teamheadbox h1 {
	font-size: 60px;
	margin: 0;
	color: white;
	font-family: 'Work Sans';
}

#teamheadbox h4 {
	font-size: 25px;
	color: white;
}

#teamheadbox h4 a {
	color: #00b3c6;
}

#teamheadbox {
	padding: 50px 5%;
	background-color: #232323;
	position: absolute;
	bottom: -80px;
	width: 50%;
	left: 6%;
}

#teambody {
	padding: 130px 6% 60px 6%;
	margin: 0;
	background-color: white;
}

#teambody h1 {
	font-size: 40px;
	margin: 10px 0px 0px 10px;
}

.officer {
	background-color: #232323;
	padding: 0px 0px 20px 0px;
	margin: 20px 2%;
	color: #eee;
	text-align: center;
	border: 3px solid #eee;
	transition-duration: 0.3s;
	overflow: hidden;
	z-index: 4;
}

.officer:hover {
	border: 3px solid #30579f;
	cursor: pointer
}

.officer:hover img {
	opacity: 0.8;
}

.officer img {
	width: 100%;
	transition-duration: 0.2s;
}

.officer .name {
	padding: 30px 10% 0px 10%;
	font-size: 30px;
}

.officer .position {
	padding: 0px 10%;
	font-size: 25px;
}

#bio {
	padding: 30px 3%;
	text-align: left;
	position: fixed;
	margin: 0px auto;
	left: 0;
	right: 0;
	top: 20%;
	z-index: 99;
	width: 50%;
	background-color: #30579f;
	z-index: 6;
	display: none;
	color: white;
}

#bio h1 {
	font-size: 34px;
	margin: 0px;
}

#bio h3 {
	font-size: 27px;
}

#bio p {
	font-size: 20px;
}

#cover {
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	width: 100%;
	background-color: #444;
	z-index: 5;
	opacity: 0.5;
	display: none;
}

#cancel {
	font-size: 50px;
	color: white;
	position: absolute;
	top: 0px;
	right: 20px;
	z-index: 98;
}

#cancel:hover {
	color: #ddd;
	cursor: pointer;
}

/* Workshops*/
#workshopshead {
	padding: 160px 10% 0px 10%;
	background: #111;
	color: white;
}

#workshopshead h1 {
	font-size: 60px;
	font-family: 'Work Sans';
}

#workshopshead h3 {
	font-size: 30px;
}

.workshop {
	padding: 0px 0px;
	color: #444;
	overflow: hidden;
}

.workshoptext {
	position: fixed;
	top: 10%;
	z-index: 97;
	width: 84%;
	left: 0%;
	margin: 0px 8%;
	padding: 50px 6%;
	background-color: white;
	display: none;
}

#wkshpmask {
	height: 100vh;
	width: 100%;
	background-color: #222;
	z-index: 5;
	opacity: 0.8;
	position: fixed;
	top: 0px;
	left: 0px;
	display: none;
}

.xout {
	font-size: 50px;
	position: absolute;
	z-index: 99;
	top: 10px;
	right: 30px;
	color: #444;
	transition-duration: 0.2s;
}

.xout:hover {
	color: red;
	cursor: pointer;
}

.wkshp {
	background-color: #111;
}

.wkshp .col-sm-6 {
	padding: 0px;
	margin: 0px;
}

.workshop h1 {
	font-size: 40px;
	padding: 10px 0px;
}

.wsdescription {
	font-size: 20px;
	padding-bottom: 10px;
}

.wk2 {
	margin-top: -15%;
}

.workshop li {
	font-size: 20px;
	margin-left: 3%; 
}

.workshop #borderbot {
	margin: 0px 0px 20px 0px;
	background-color: #444;
}

.workshop img {
	width: 100%;
	margin: auto;
	display: block;
	transition-duration: 0.2s;
}

.workshop img:hover {
	transform: scale(1.05);
	cursor: pointer;
	opacity: 0.98;
}

#idea {
	padding: 100px 5% 50px 5%;
	color: white;
	text-align: center;
}

#idea h1 {
	font-size: 35px;
	padding: 15px 0px;
}

#idea h4 {
	font-size: 22px;
}

.slideanim {visibility:hidden;}

.slideanim2 {visibility:hidden;}

  .slide2 {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }

  .slide6 {
      animation-name: slider;
      -webkit-animation-name: slider;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateX(-10%);
    } 
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-10%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateX(0%);
    }
  }

  @keyframes slider {
    0% {
      opacity: 0;
      transform: translateY(20%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slider {
    0% {
      opacity: 0;
      -webkit-transform: translateY(20%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }


@media only screen and (max-width: 1024px) {
	#mainnav li {
		padding: 10px 25px;
		font-size: 20px;
	}

	#indexhead {
		padding: 300px 0px;
	}

	#titlesec {
		padding: 200px 5%;
	}

	#titlesec h1 {
		font-size: 60px;
	}

	#titlesec h3 {
		font-size: 35px;
	}

	#showmore .fas {
		font-size: 30px;
		bottom: -15px;
		margin-left: -50px;
		padding: 22px 30px;
	}

	#showmore .fas:hover {
		bottom: -20px;
	}

	#intro {
		padding: 60px 7% 0px 0px;
	}

	#intro h1 {
		font-size: 40px;
	}

	#intro ul {
		padding-bottom: 30px;
	}

	#greybackground {
		width: 40%;
	}

	#intro a, #fullteam {
		font-size: 20px;
		padding: 15px 35px;
		transition-duration: 0.2s;
	}

	#fullteam {
		width: 40%;
	}

	#intro li {
		font-size: 19px;
	}

	#computer {
		width: 90%;
		margin-left: 10%;
		padding-top: 60px;
	}

	.row2 {
		position: relative;
	}

	#showmore2 .fas {
		font-size: 30px;
		bottom: -15px;
		margin-left: -50px;
		padding: 22px 30px;
	}

	#showmore2 .fas:hover {
		bottom: -20px;
	}

	#upcoming {
		padding: 60px 5%;
	}

	#upcoming h1 {
		font-size: 40px;
	}

	.eventdate {
		font-size: 22px;
	}

	.eventtitle {
		font-size: 30px;
	}

	#eventA, #eventB {
		width: 42.5%;
	}

	.eventbody p {
		font-size: 18px;
	}

	.signup {
		font-size: 20px;
	}

	#faq {
		padding: 200px 6% 30px 6%;
		color: #232323;
	}

	#faq #borderbot {
		top: 200px;
	}

	#faq h1 {
		font-size: 40px;
	}

	#faqsection {
		margin-left: 30%;
	}

	.faqsec {
		padding: 15px 0px;
	}

	.question {
		font-size: 22px;
	}

	.answer {
		font-size: 20px;
		padding-left: 25px;
	}

	#contact {
		padding: 50px 8% 20px 8%;
	}

	#contact h1 {
		font-size: 40px;
	}

	#contact p {
		font-size: 18px;
	}

	#contact .fab {
		font-size: 40px;
		margin: 30px 20px;
	}

	#footer p {
		font-size: 18px;
	}

	/*events*/
	#eventshead {
		padding: 140px 10%;
	}

	#eventmask {
		height: 280px;
	}

	#eventtitle {
		top: 120px;
	}

	#eventtitle h1 {
		font-size: 50px;
	}

	#eventtitle h3 {
		font-size: 28px;
	}

	#eventbody {
		padding: 30px 5% 60px 5%;
		top: 280px;
	}

	#circle {
		left: 6.8%;
	}

	.eventcircle {
		left: -12.1%;
		top: 170px;
	}

	/*About*/
	#abouthead {
		padding: 130px 10% 60px 10%;
		background-size: 140%;
	}

	#abouthead h1 {
		font-size: 50px;
	}

	#aboutsec1 {
		padding: 50px 5%;
	}

	#aboutsec1 h2, #mission h2 {
		font-size: 35px;
	}

	#aboutsec1 #borderbot {
		top: 70px;
	}

	#aboutsec1 p {
		font-size: 20px;
	}

	#aboutsec1 p a {
		color: #00b3c6;
	}

	#aboutsec1 li {
		font-size: 19px;
	}

	#mission {
		padding: 50px 7% 70px 7%;
		background-attachment: fixed;
	}

	#mission #borderbot {
		top: 50px;
	}

	#mission h2, #founders h1 {
		font-size: 35px;
	}

	#mission p {
		font-size: 19px;
	}

	#founders {
		padding: 60px 7%;
	}

	#founders p {
		font-size: 19px;
	}

	#founders .col-sm-6 {
		padding: 30px 5%;
	}

	#founders .col-sm-6 h2 {
		font-size: 32px;
	}

	#founders li {
		font-size: 19px;
	}

	#founders #borderbot {
		width: 10%;
	}

	/*Team*/
	#teamhead {
		padding: 300px 10% 40px 10%;
	}

	#teamhead h1 {
		font-size: 50px;
	}

	#teamhead h4 {
		font-size: 22px;
	}

	#teamheadbox {
		width: 80%;
		left: 5%;
	}

	#teambody {
		padding: 100px 5% 50px 5%;
	}

	#teambody .col-sm-4 {
		padding: 0px 5px;
	}

	.officer {
		margin: 20px 0%;
	}

	.officer .name {
		padding: 30px 5% 0px 5%;
		font-size: 25px;
	}

	.officer .position {
		padding: 0px 5%;
		font-size: 20px;
	}

	#bio {
		top: 10%;
		width: 70%;
	}

	#bio h1 {
		font-size: 26px;
		margin: 0px;
	}

	#bio h3 {
		font-size: 22px;
	}

	#bio p {
		font-size: 18px;
	}

	/* Workshops*/
	#workshopshead {
		padding: 130px 7% 70px 10%;
	}

	#workshopshead h1 {
		font-size: 45px;
	}

	#workshopshead h3 {
		font-size: 25px;
	}

	.wk2 {
		margin-top: -5%;
	}

	#workshopsbody {
		padding: 40px 7%;
	}

	.workshop h1 {
		font-size: 30px;
	}

	#idea {
		padding: 30px 5%;
	}

	#idea h1 {
		font-size: 30px;
	}

	#idea h4 {
		font-size: 20px;
	}

	.wsdescription {
		font-size: 19px;
	}

	.workshop li {
		font-size: 19px;
		margin-left: 6%; 
	}
}

@media only screen and (max-width: 768px) {
	#navbar {
		padding: 32px 0px;
	}

	.deltalogo img {
		width: 60px;
	}

	#dots {
		top: 3px;
	}

	#indexhead {
		padding: 200px 0px;
		background-size: 180%;
	}

	#titlesec {
		padding: 100px 5% 70px 5%;
	}

	#titlesec h1 {
		font-size: 40px;
	}

	#titlesec h3 {
		font-size: 26px;
	}

	#showmore .fas {
		font-size: 20px;
		bottom: -10px;
		margin-left: -30px;
		padding: 15px 24px;
	}

	#showmore .fas:hover {
		bottom: -15px;
	}

	#greybackground {
		width: 55%;
	}

	#intro {
		padding: 50px 10% 0px 0%;
	}

	#dottedline {
		display: none;
	}

	#intro h1 {
		font-size: 30px;
	}

	#intro ul {
		padding-bottom: 20px;
	}

	#intro a, #fullteam {
		font-size: 18px;
		padding: 10px 27px;
	}

	#fullteam {
		width: 80%;
	}

	#intro li {
		font-size: 17px;
	}

	#upcoming {
		padding: 50px 10%;
	}

	#upcoming h1 {
		font-size: 30px;
	}

	#seeall {
		float: none;
		font-size: 22px;
	}

	#eventA, #eventB {
		width: 90%;
	}

	.eventdate {
		font-size: 20px;
	}

	.eventtitle {
		font-size: 25px;
	}

	.eventbody p {
		font-size: 17px;
	}

	.signup {
		font-size: 20px;
	}

	#faq {
		padding: 200px 7% 50px 10%;
	}

	#faqsection {
		width: 100%;
		margin-left: 10%;
	}

	#faq h1 {
		font-size: 30px;
	}

	.faqsec {
		padding: 15px 0px;
		margin-left: -10%;
	}

	.question {
		font-size: 20px;
	}

	.answer {
		font-size: 18px;
		padding-left: 20px;
	}

	#contact {
		padding: 40px 10% 20px 10%;
	}

	#contact h1 {
		font-size: 30px;
	}

	#contact p {
		font-size: 18px;
	}

	#contact .fab {
		font-size: 25px;
		margin: 20px 10px;
	}

	/*events*/
	#eventshead {
		padding: 150px 10%;
		background-size: 200%;
	}

	#eventmask {
		height: 300px;
	}

	#eventtitle {
		top: 100px;
	}

	#eventtitle h1 {
		font-size: 40px;
	}

	#eventtitle h3 {
		font-size: 23px;
		margin: 5px 0px;
	}

	#eventbody {
		top: 300px;
	}

	#circle {
		left: 5%;
	}

	.eventcircle {
		left: -13%;
	}

	.eventevent .eventbody {
		padding: 20px 5% 30px 5%;
	}

	/*About*/
	#abouthead {
		padding: 100px 10% 40px 10%;
		background-size: 140%;
	}

	#abouthead h1 {
		font-size: 38px;
	}

	#aboutsec1 {
		padding: 40px 9%;
	}

	#aboutsec1 h2, #mission h2 {
		font-size: 30px;
	}

	#aboutsec1 #borderbot, #mission #borderbot {
		top: 60px;
		width: 8px;
	}

	#mission #borderbot {
		top: 20px;
	}

	#aboutsec1 p {
		font-size: 17px;
	}

	#aboutsec1 li {
		font-size: 17px;
		margin-left: 6%;
	}

	#aboutcarousel {
		padding-top: 0px;
	}

	#mission {
		padding: 20px 9% 60px 9%;
		background-attachment: fixed;
	}

	#mission h2, #founders h1 {
		font-size: 30px;
	}

	#mission p {
		font-size: 17px;
	}

	#founders {
		padding: 50px 9%;
	}

	#founders p {
		font-size: 17px;
	}

	#founders .col-sm-6 {
		padding: 20px 5%;
	}

	#founders .col-sm-6 h2 {
		font-size: 28px;
	}

	#founders li {
		font-size: 17px;
	}

	#founders #borderbot {
		width: 25%;
	}

	/*Team*/
	#teamhead {
		padding: 200px 10% 30px 10%;
		background: url('images/teammobile.png');
		background-size: 100%;
		background-attachment: fixed;
	}

	#teamhead h1 {
		font-size: 40px;
	}

	#teamhead h4 {
		font-size: 20px;
	}

	#teamheadbox {
		padding: 30px 5%;
		width: 90%;
	}

	#teambody {
		padding: 100px 7% 30px 7%;
	}

	.officer {
		margin-left: 5%;
		width: 90%;
	}

	.officer .name {
		font-size: 22px;
	}

	.officer .position {
		font-size: 19px;
	}

	#bio {
		width: 94%;
		top: 80px;
	}

	#bio h1 {
		font-size: 23px;
		margin: 0px;
	}

	#bio h3 {
		font-size: 20px;
	}

	#bio p {
		font-size: 16px;
	}

	/* Workshops*/
	#workshopshead {
		padding: 150px 7% 50px 10%;
		background-size: 200%;
	}

	#workshopshead h1 {
		font-size: 40px;
	}

	#workshopshead h3 {
		font-size: 24px;
	}

	#workshopsbody {
		padding: 10px 7% 30px 7%;
	}

	.wk2 {
		margin-top: 0;
	}

	.workshop {
		padding: 0;
		margin: 0;
	}

	.workshop h1 {
		font-size: 26px;
	}

	.wsdescription {
		font-size: 16px;
	}

	.workshop li {
		font-size: 16px;
		margin-left: 10%; 
	}

	#android, #ml {
		position: absolute;
		z-index: 75;
	}

	.xout {
		font-size: 30px;
	}

}




