body {
	width: 100%;
	overflow-x: hidden;
}

body, h1, body, div, a, ol, ul, li, h2, p, em, img, button {
	padding: 0;
	margin: 0;
	outline: 0;
	font-family: 'Lato', sans-serif;
}

h1 {
	letter-spacing: 1px;
}

#navbar1 {
	background-color: #232323;
	width: 100%;
	position: fixed;
	z-index: 49;
	transition-duration: 0.3s; 
	opacity: 0.95;
}

#navbar1 ul {
	width: 96%;
	display: block;
	margin: 0 2%;
	text-align: center;
	padding: 25px 0px;
	transition-duration: 0.2s;
}

#mainnav li {
	display: inline;
	text-align: center;
	padding: 10px 40px;
	color: #eee;
	font-size: 23px;
	transition-duration: 0.2s;
}

#mainnav li:hover {
	color: #00b3c6;
}

#mainnav #placeholder {
	padding: 10px 70px;
}

#mainnav .active {
	text-decoration: underline;
}

#navcircle {
	position: absolute;
	left: 50%;
	margin-left: -70px;
	padding: 10px 20px 20px 20px;
	background-color: #232323;
	z-index: 24;
	border-radius: 0px 0px 50% 50%;
	transition-duration: 0.3s;
	opacity: 0.95;
}

#navcircle2 {
	display: none;
}

#deltalogo img {
	width: 70px;
}

#deltalogo:hover {
	cursor: pointer;
}

.drop {
	display: none;
}

#indexhead {
	background: url('images/titleimg.jpg');
	background-size: 100%;
	padding: 360px 0px;
	position: absolute;
	z-index: 2;
	width: 100%;
	top: 0;
}

#titlesec {
	padding: 250px 0px;
	z-index: 5;
	position: relative;
	text-align: center;
}

#titlesec h1 {
	font-size: 80px;
	color: white;
	font-family: 'Work Sans';
}

#titlesec h3 {
	font-size: 50px;
	color: white;
}

#showmore .fas {
	color: #eee;
	font-size: 40px;
	position: absolute;
	bottom: -20px;
	margin-left: -60px;
	left: 50%;
	z-index: 2;
	padding: 30px 40px;
	background-color: #333;
	border-radius: 50% 50% 0px 0px;
	transition-duration: 0.2s;
}

#showmore .fas:hover {
	bottom: -30px;
	cursor: pointer;
	color: #00b3c6;
}

#intro {
	padding: 100px 0% 0px 7%;
	background-color: #333;
	position: relative;
	z-index: 6;
}

#intro h1 {
	color: #eee;
	font-size: 50px;
	padding: 30px 0px 10px 0px;
}

#intro ul {
	margin-left: 3%;
	padding-bottom: 40px;
}

#intro a, #fullteam {
	font-size: 24px;
	padding: 15px 35px;
	color: #eee;
	border: 2px solid #eee;
	transition-duration: 0.2s;
}


#intro a:hover {
	background-color: #00b3c6;
	text-decoration: none;
}

#fullteam {
	text-align: center;
	margin: 20px auto;
	display: block;
	width: 30%;
}

#fullteam:hover {
	background-color: #00b3c6;
	text-decoration: none;
}


#intro li {
	margin: 10px 0px;
	font-size: 21px;
	color: #eee;
	list-style-type: square;
}

#computer {
	width: 80%;
	margin-left: 10%;
}

.row2 {
	position: relative;
}

#showmore2 .fas {
	color: #333;
	font-size: 40px;
	position: absolute;
	bottom: -0px;
	margin-left: -90px;
	left: 50%;
	z-index: 2;
	padding: 30px 40px;
	background: linear-gradient(135deg, #222, #00b3c6, #30579f);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
	transition-duration: 0.6s;
	border-radius: 50% 50% 0px 0px;
	transition-duration: 0.2s;
}

#showmore2 .fas:hover {
	bottom: -10px;
	cursor: pointer;
	color: white;
}

#upcoming {
	background: linear-gradient(135deg, #222, #00b3c6, #30579f);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
	transition-duration: 0.6s;
	padding: 70px 7%;
}

#upcoming h1 {
	color: white;
	font-size: 50px;
	padding: 10px 0px;
}

#upcoming #borderbot {
	background-color: white;
	transition-duration: 0.2s;
}

.event {
	width: 100%;
	margin: 20px 0;
	padding: 50px 8%;
	background-color: #eee;
	box-shadow: 5px 5px 20px #444;
	transition-duration: 0.3s;
}

.event #borderbot {
	transition-duration: 0.2s;
}

.event:hover #borderbot {
	width: 20%;
}

.eventdate {
	color: #777;
	font-size: 26px;
}

.eventtitle {
	color: #333;
	font-size: 35px;
	padding: 10px 0px;
}

.event #borderbot {
	background-color: #333;
	width: 30%;
}

.eventbody img {
	width: 100%;
}

.eventbody p {
	font-size: 19px;
	padding: 10px 0px 30px 0px;
	color: #555;
}

.signup {
	padding: 10px 20px;
	color: #444;
	font-size: 22px;
	border: 2px solid #444;
	transition-duration: 0.2s;
}

.signup:hover {
	background-color: #00b3c6;
	color: white;
	text-decoration: none;
	border: 2px solid #00b3c6;
}

#faq {
	padding: 60px 8px 40px 8%;
	background-color: #eee;
	color: #232323;
}

#faq h1 {
	color: #232323;
	font-size: 50px;
	padding: 10px 0px;
}

.faqsec {
	padding: 20px 0px;
}

.question {
	font-size: 28px;
	padding: 10px 0px;
	color: #232323;
	transition-duration: 0.2s;
}

.answer {
	font-size: 25px;
	color: #777;
	padding-left: 45px;
	display: none;
}

.question:hover {
	color: #00b3c6;
	cursor: pointer;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}



#contact {
	padding: 60px 8% 30px 8%;
	background-color: #333;
	text-align: center;
}

#contact h1 {
	color: #eee;
	font-size: 46px;
	padding: 10px 0px;
}

#contact p {
	color: #eee;
	font-size: 20px;
	padding: 0px;
}

#contact p a {
	color: #00b3c6;
}

#contact .fab {
	font-size: 45px;
	color: #eee;
	margin: 40px 20px;
	transition-duration: 0.2s;
}

#contact .fab:hover {
	text-decoration: none;
	color: #00b3c6;
}

#footer {
	text-align: center;
	background-color: #232323;
	padding: 10px 0px;
}

#footer p {
	color: #eee;
	font-size: 20px;
}

/*events*/
#eventshead {
	padding: 160px 10%;
	background: url('images/eventhead.jpg');
	background-size: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

#eventmask {
	position: absolute;
	z-index: 10;
	width: 100%;
	background: linear-gradient(135deg, #222, #00b3c6, #30579f);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
	transition-duration: 0.6s;
	opacity: 0.6;
	top: 0;
	height: 320px;
}

#eventtitle {
	position: absolute;
	top: 150px;
	margin: 0 auto;
	left: 10%;
	right: 0;
	z-index: 13;
}

#eventtitle h1 {
	color: #eee;
	font-size: 65px;
}

#eventtitle h3 {
	font-size: 30px;
	color: #eee;
}

#eventbody {
	padding: 70px 5% 100px 5%;
	background-color: #eee;
	position: relative;
	top: 320px;
}

/*About*/
#abouthead {
	padding: 180px 10% 80px 10%;
	background: url('images/dark.jpg');
	background-size: 140%;
	background-attachment: fixed;
}

#abouthead h1 {
	font-size: 65px;
	color: #eee;
}

#aboutsec1 {
	padding: 70px 5%;
	background-color: #232323;
}

#aboutsec1 h2, #mission h2 {
	padding: 10px 0px;
	text-align: center;
	color: #eee;
	font-size: 40px;
}

#borderbot {
	margin: auto;
	height: 2px;
	background-color: #eee;
	width: 15%;
	margin-bottom: 30px;
}

#aboutsec1 #borderbot, #mission #borderbot {
	width: 8%;
}

#aboutcarousel {
	width: 100%;
}

#aboutcarousel img {
	width: 100%;
}

#aboutsec1 p {
	font-size: 20px;
	color: #eee;
	padding-bottom: 10px;
}

#aboutsec1 p a {
	color: #00b3c6;
}

#aboutsec1 li {
	font-size: 20px;
	color: #eee;
	padding: 5px 0px;
	margin-left: 4%;
	list-style-type: square;
}

#mission {
	padding: 70px 7% 90px 7%;
	background: url('images/dark.jpg');
	background-size: 100%;
	background-attachment: fixed;
}

#mission h2 {
	font-size: 46px;
}

#mission p {
	font-size: 22px;
	color: #eee;
}

#founders {
	padding: 80px 7%;
	background-color: #333;
}

#founders h1 {
	color: #eee;
	font-size: 50px;
	text-align: center;
}

#founders p {
	font-size: 22px;
	color: #eee;
}

#founders .col-sm-6 {
	padding: 40px 5%;
	text-align: center;
}

#founders img {
	width: 88%;
	margin: 20px auto;
	border: 5px solid transparent;
	transition-duration: 0.2s;
}

#founders img:hover {
	border: 5px solid #00b3c6;
	cursor: pointer;
	transform: scale(1.03);
}

#founders .col-sm-6 h2 {
	font-size: 38px;
}

#linkedin {
	color: #232323;
	transition-duration: 0.2s;
}

#linkedin:hover {
	text-decoration: none;
	color: #00b3c6;
}

#tomhid, #gauthamhid {
	display: none;
}

.founderbox {
	background-color: #eee;
	padding: 60px 30px 30px 30px;
	margin-top: -60px;
}

#founders ul {
	color: #232323;
	padding: 10px 0px;
	text-align: left;
}

#founders li {
	font-size: 20px;
	padding: 10px 0px;
	margin-left: 10%;
	list-style-type: square;
}

#founders #borderbot {
	background-color: #eee;
	margin: 10px auto;
	width: 8%;
}

#founders .col-sm-6 #borderbot {
	width: 25%;
	background-color: #232323;
}

/*Team*/
#teamhead {
	padding: 150px 10% 0px 6%;
	background-color: #eee;
	color: #232323;
	margin: 0;
	background-attachment: fixed;
}

#teamhead h1 {
	font-size: 60px;
	margin: 0;
}

#teamhead i {
	color: #00b3c6;
}

#teamhead h3 {
	font-size: 35px;
	margin: 10px 0px 0px 0px;
}

#teambody {
	padding: 60px 6%;
	margin: 0;
	background-color: #eee;
}

.officer {
	background-color: #232323;
	padding: 0px 0px 20px 0px;
	margin: 20px 2%;
	color: #eee;
	text-align: center;
	border: 3px solid #eee;
	transition-duration: 0.3s;
	position: relative;
	overflow: hidden;
	z-index: 4;
}

.officer:hover {
	border: 3px solid #30579f;
	cursor: pointer
}

.officer img {
	width: 100%;
}

.officer .name {
	padding: 30px 10% 0px 10%;
	font-size: 30px;
}

.officer .position {
	padding: 0px 10%;
	font-size: 25px;
}

.bio {
	padding: 30px 10%;
	text-align: left;
	position: absolute;
	bottom: -99%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #30579f;
	transition-duration: 0.4s;
	transition-delay: 0.2s;
	z-index: 6;
}

.bio h2 {
	font-size: 25px;
}

.bio p {
	font-size: 18px;
	padding: 15px 0px;
}

.officer:hover .bio {
	bottom: 0;
}

/* Workshops*/
#workshopshead {
	padding: 140px 10% 45px 10%;
	background: linear-gradient(70deg, #30579f 50%, #333 50%);
	color: #eee;
	background-attachment: fixed;
}

#workshopshead h1 {
	font-size: 60px;
}

#workshopshead h3 {
	font-size: 30px;
}

#workshopsbody {
	padding: 60px 10%;
	background-color: #ddd;
}

.workshop {
	padding: 40px 0px;
	color: #444;
	border-bottom: 2px solid #444;
}

.workshop h1 {
	font-size: 40px;
	padding: 10px 0px;
}

.wsdescription {
	font-size: 20px;
	padding-bottom: 10px;
}

.workshop li {
	font-size: 20px;
	margin-left: 3%; 
}

.workshop #borderbot {
	margin: 0px 0px 20px 0px;
	background-color: #444;
}

.workshop img {
	width: 90%;
	margin: auto;
	display: block;
}

.slideanim {visibility:hidden;}

.slideanim2 {visibility:hidden;}

  .slide2 {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }

  .slide6 {
      animation-name: slider;
      -webkit-animation-name: slider;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateX(-40%);
    } 
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-40%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateX(0%);
    }
  }

  @keyframes slider {
    0% {
      opacity: 0;
      transform: translateY(40%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slider {
    0% {
      opacity: 0;
      -webkit-transform: translateY(40%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }


@media only screen and (max-width: 1024px) {
	#mainnav li {
		padding: 10px 25px;
		font-size: 20px;
	}

	#indexhead {
		padding: 300px 0px;
	}

	#titlesec {
		padding: 200px 5%;
	}

	#titlesec h1 {
		font-size: 60px;
	}

	#titlesec h3 {
		font-size: 35px;
	}

	#showmore .fas {
		font-size: 30px;
		bottom: -15px;
		margin-left: -50px;
		padding: 22px 30px;
	}

	#showmore .fas:hover {
		bottom: -20px;
	}

	#intro {
		padding: 60px 7% 0px 7%;
	}

	#intro h1 {
		color: #eee;
		font-size: 40px;
	}

	#intro ul {
		padding-bottom: 30px;
	}

	#intro a, #fullteam {
		font-size: 20px;
		padding: 15px 35px;
		color: #eee;
		border: 2px solid #eee;
		transition-duration: 0.2s;
	}

	#fullteam {
		width: 40%;
	}

	#intro li {
		font-size: 19px;
	}

	#computer {
		width: 80%;
		margin-left: 10%;
		padding-top: 60px;
	}

	.row2 {
		position: relative;
	}

	#showmore2 .fas {
		font-size: 30px;
		bottom: -15px;
		margin-left: -50px;
		padding: 22px 30px;
	}

	#showmore2 .fas:hover {
		bottom: -20px;
	}

	#upcoming {
		padding: 60px 5%;
	}

	#upcoming h1 {
		font-size: 40px;
	}

	.event {
		margin: 20px 0;
		padding: 20px 6% 50px 6%;
	}

	.eventdate {
		font-size: 22px;
	}

	.eventtitle {
		font-size: 30px;
	}

	.event #borderbot {
		background-color: #333;
		width: 30%;
	}

	.eventbody img {
		width: 100%;
	}

	.eventbody p {
		font-size: 18px;
	}

	.signup {
		font-size: 20px;
	}

	#faq {
		padding: 40px 6% 30px 6%;
		background-color: #eee;
		color: #232323;
	}

	#faq h1 {
		font-size: 40px;
	}

	.faqsec {
		padding: 15px 0px;
	}

	.question {
		font-size: 22px;
	}

	.answer {
		font-size: 20px;
		padding-left: 25px;
	}

	#contact {
		padding: 50px 8% 20px 8%;
	}

	#contact h1 {
		font-size: 40px;
	}

	#contact p {
		font-size: 18px;
	}

	#contact .fab {
		font-size: 40px;
		margin: 30px 20px;
	}

	#footer p {
		font-size: 18px;
	}

	/*events*/
	#eventshead {
		padding: 140px 10%;
	}

	#eventmask {
		height: 280px;
	}

	#eventtitle {
		top: 120px;
	}

	#eventtitle h1 {
		font-size: 50px;
	}

	#eventtitle h3 {
		font-size: 28px;
	}

	#eventbody {
		padding: 30px 5% 60px 5%;
		top: 280px;
	}

	/*About*/
	#abouthead {
		padding: 160px 10% 60px 10%;
		background-size: 140%;
	}

	#abouthead h1 {
		font-size: 50px;
	}

	#aboutsec1 {
		padding: 50px 5%;
	}

	#aboutsec1 h2, #mission h2 {
		font-size: 35px;
	}

	#aboutsec1 #borderbot, #mission #borderbot {
		width: 10%;
	}

	#aboutsec1 p {
		font-size: 20px;
	}

	#aboutsec1 p a {
		color: #00b3c6;
	}

	#aboutsec1 li {
		font-size: 19px;
	}

	#mission {
		padding: 50px 7% 70px 7%;
		background-attachment: fixed;
	}

	#mission h2, #founders h1 {
		font-size: 35px;
	}

	#mission p {
		font-size: 19px;
	}

	#founders {
		padding: 60px 7%;
	}

	#founders p {
		font-size: 19px;
	}

	#founders .col-sm-6 {
		padding: 30px 5%;
	}

	#founders .col-sm-6 h2 {
		font-size: 32px;
	}

	#founders li {
		font-size: 19px;
	}

	#founders #borderbot {
		width: 10%;
	}

	/*Team*/
	#teamhead {
		padding: 130px 10% 40px 10%;
	}

	#teamhead h1 {
		font-size: 50px;
	}

	#teamhead h3 {
		font-size: 28px;
	}

	#teambody {
		padding: 50px 5%;
	}

	#teambody .col-sm-4 {
		padding: 0px 5px;
	}

	.officer {
		margin: 20px 0%;
	}

	.officer .name {
		padding: 30px 5% 0px 5%;
		font-size: 25px;
	}

	.officer .position {
		padding: 0px 5%;
		font-size: 20px;
	}

	.bio h2 {
		font-size: 22px;
	}

	.bio p {
		font-size: 18px;
	}

	/* Workshops*/
	#workshopshead {
		padding: 130px 7% 40px 7%;
	}

	#workshopshead h1 {
		font-size: 50px;
	}

	#workshopshead h3 {
		font-size: 28px;
	}

	#workshopsbody {
		padding: 40px 7%;
	}

	.workshop h1 {
		font-size: 30px;
	}

	.wsdescription {
		font-size: 19px;
	}

	.workshop li {
		font-size: 19px;
		margin-left: 6%; 
	}

	.workshop #borderbot {
		margin: 0px 0px 20px 0px;
		background-color: #444;
		width: 20%;
	}

}

@media only screen and (max-width: 768px) {
	#mainnav {
		display: none;
	}

	#navbar1 ul {
		height: 52px;
		width: 100%;
		margin: 0;

		padding: 25px 0px;
	}

	#navcircle {
		display: none;
	}

	#expand {
		display: none;
		padding: 60px 0px 20px 0px;
		background-color: #232323;
		margin-top: -25px;
	}

	.navigate {
		color: #eee;
		padding: 13px 0px;
		font-size: 17px;
		transition-duration: 0.2s;
	}

	.navigate:hover {
		background-color: #555;
		color: #00b3c6;
	}

	.drop {
		display: block;
	}

	.navcircle2 {
		display: block;
		width: 45px;
		position: absolute;
		left: 0;
		top: 4px;
		transition-duration: 0.3s;
	}

	.navcircle2 img {
		width: 100%;
	}

	.container1 {
		position: absolute;
		top: -3px;
		right: 5px;
		padding: 4px;
	}

	.container1:hover {
		cursor: pointer;
	}

	.bar1, .bar2, .bar3 {
		width: 30px;
		margin: 10px 0px;
		height: 3px;
		background-color: #eee;
		transition-duration: 0.1s;
	}

	.change .bar1 {
		 -webkit-transform: rotate(-45deg) translate(-9px, 9px);
		 transform: rotate(-45deg) translate(-9px, 9px);
	}
	.change .bar2 {opacity: 0;}

	.change .bar3 {
		-webkit-transform: rotate(45deg) translate(-9px, -9px);
		transform: rotate(45deg) translate(-9px, -9px);
	}

	.middle {
		left: 50%;
		margin-left: -20px;
	}

	#indexhead {
		padding: 200px 0px;
		background-size: 180%;
	}

	#titlesec {
		padding: 100px 5% 70px 5%;
	}

	#titlesec h1 {
		font-size: 40px;
	}

	#titlesec h3 {
		font-size: 26px;
	}

	#showmore .fas {
		font-size: 20px;
		bottom: -10px;
		margin-left: -50px;
		padding: 15px 24px;
	}

	#showmore .fas:hover {
		bottom: -15px;
	}

	#intro {
		padding: 50px 10% 0px 10%;
	}

	#intro h1 {
		font-size: 30px;
	}

	#intro ul {
		padding-bottom: 20px;
	}

	#intro a, #fullteam {
		font-size: 18px;
		padding: 10px 27px;
	}

	#fullteam {
		width: 80%;
	}

	#intro li {
		font-size: 17px;
	}

	#showmore2 .fas {
		font-size: 20px;
		bottom: -10px;
		margin-left: -50px;
		padding: 15px 24px;
	}

	#showmore2 .fas:hover {
		bottom: -15px;
	}

	#upcoming {
		padding: 50px 10%;
	}

	#upcoming h1 {
		font-size: 30px;
	}

	.event {
		padding: 20px 8% 40px 8%;
	}

	.eventdate {
		font-size: 20px;
	}

	.eventtitle {
		font-size: 25px;
	}

	.event #borderbot {
		width: 40%;
	}

	.eventbody p {
		font-size: 17px;
	}

	.signup {
		font-size: 18px;
	}

	#faq h1 {
		font-size: 30px;
	}

	.faqsec {
		padding: 15px 0px;
	}

	.question {
		font-size: 20px;
	}

	.answer {
		font-size: 18px;
		padding-left: 20px;
	}

	#contact {
		padding: 40px 10% 20px 10%;
	}

	#contact h1 {
		font-size: 30px;
	}

	#contact p {
		font-size: 18px;
	}

	#contact .fab {
		font-size: 25px;
		margin: 20px 10px;
	}

	/*events*/
	#eventshead {
		padding: 120px 10%;
		background-size: 200%;
	}

	#eventmask {
		height: 240px;
	}

	#eventtitle {
		top: 100px;
	}

	#eventtitle h1 {
		font-size: 40px;
	}

	#eventtitle h3 {
		font-size: 23px;
		margin: 5px 0px;
	}

	#eventbody {
		top: 240px;
	}

	/*About*/
	#abouthead {
		padding: 100px 10% 40px 10%;
		background-size: 140%;
	}

	#abouthead h1 {
		font-size: 40px;
	}

	#aboutsec1 {
		padding: 40px 9%;
	}

	#aboutsec1 h2, #mission h2 {
		font-size: 30px;
	}

	#aboutsec1 #borderbot, #mission #borderbot {
		width: 20%;
	}

	#aboutsec1 p {
		font-size: 17px;
	}

	#aboutsec1 li {
		font-size: 17px;
		margin-left: 6%;
	}

	#aboutcarousel {
		padding-top: 30px;
	}

	#mission {
		padding: 40px 9% 60px 9%;
		background-attachment: fixed;
	}

	#mission h2, #founders h1 {
		font-size: 30px;
	}

	#mission p {
		font-size: 17px;
	}

	#founders {
		padding: 50px 9%;
	}

	#founders p {
		font-size: 17px;
	}

	#founders .col-sm-6 {
		padding: 20px 5%;
	}

	#founders .col-sm-6 h2 {
		font-size: 28px;
	}

	#founders li {
		font-size: 17px;
	}

	#founders #borderbot {
		width: 25%;
	}

	/*Team*/
	#teamhead {
		padding: 100px 10% 30px 10%;
	}

	#teamhead h1 {
		font-size: 40px;
	}

	#teamhead h3 {
		font-size: 23px;
	}

	#teambody {
		padding: 10px 7% 30px 7%;
	}

	.officer .name {
		font-size: 22px;
	}

	.officer .position {
		font-size: 19px;
	}

	.bio h2 {
		font-size: 20px;
	}

	.bio p {
		font-size: 17px;
	}

	/* Workshops*/
	#workshopshead {
		padding: 100px 7% 30px 7%;
	}

	#workshopshead h1 {
		font-size: 40px;
	}

	#workshopshead h3 {
		font-size: 24px;
	}

	#workshopsbody {
		padding: 10px 7% 30px 7%;
	}

	.workshop {
		padding: 20px 0px 30px 0px;
	}

	.workshop h1 {
		font-size: 26px;
	}

	.wsdescription {
		font-size: 17px;
	}

	.workshop li {
		font-size: 17px;
		margin-left: 10%; 
	}

	.workshop img {
		padding-top: 20px;
	}

}




